<div ng-controller="forgotCtrl">
    <div class="modal-header">
        <div class="modal-title">{{data.title}}</div>
    </div>
    <div style="margin-left:10px;margin-top:10px">
        <form style="width: 93%;">
            <fieldset style="margin-top: 20px; -webkit-padding-end: 19%;margin-left:10px; ">
                <legend style="font-size: 12pt; margin-bottom: 0px;border-bottom:0;">Forgot Username or Password?
                </legend>
                <label ng-repeat="type in forgotTypeList" style="margin-right: 10px;">
                    <input ng-click="setForgotCredentialType(type);$event.stopPropagation();"
                           type="radio"
                           ng-model="checkedPassword"
                           name="credType"
                           value="{{type}}">{{type}}
                </label>
            </fieldset>
        </form>
        <div style="width: 93%; margin-left: 10px;" ng-show="forgotType=='username'">
            <label><b>Enter Name</b></label><br>
            <input style="width: 96%;" type="text" placeholder="Enter Name" id="enterName" ng-model="enterName"
                   name="enterName" required
                   autofocus>
        </div>

        <div style="width: 93%; margin-left: 10px;" ng-show="forgotType=='password'">
            <label><b>Enter Username</b></label><br>
            <input style="width: 96%;" type="text" placeholder="Enter User Name" id="enterUserName"
                   ng-model="enterUserName"
                   name="enterUserName"
                   required
                   autofocus>
        </div>

    </div>
    <br>
    <div class="modal-footer btn-group-xs">
        <button class="btn btn-primary btn-group-xs" ng-click="navigateToLogin();">{{data.cancel}}</button>

        <button class="btn btn-primary btn-group-xs"
                id="submitButtonSelectType" disabled
                ng-enter="ok();" ng-click="ok()">{{data.ok}}
        </button>

    </div>
</div>
