<div ng-controller="forgotCtrl">
    <div class="modal-header">
        <div class="modal-title">{{data.title}}</div>
    </div>
    <div style="margin-left:10px;margin-top:10px">
        <form style="width: 93%;" name="question">
            <div>
                <p id="question1" style="margin-left: 10px; padding-top: 10px; max-width: 280px; ">{{data.questionOne}}</p>
                <div style="width: 93%; margin-left: 10px;">
                    <label><b>Answer:</b></label><br>
                    <input style="width: 96%;" type="text" id="answer1" required autofocus>
                </div>
            </div>
            <div>
                <p id="question2" style="margin-left: 10px; padding-top: 10px; max-width: 280px; ">{{data.questionTwo}}</p>
                <div style="width: 93%; margin-left: 10px;">
                    <label><b>Answer:</b></label><br>
                    <input style="width: 96%;" type="text" id="answer2" required >
                </div>
            </div>
            <div>
                <p id="question3" style="margin-left: 10px; padding-top: 10px; max-width: 280px; ">{{data.questionThree}}</p>
                <div style="width: 93%; margin-left: 10px;">
                    <label><b>Answer:</b></label><br>
                    <input style="width: 96%;" type="text" id="answer3" required >
                </div>
            </div>
        </form>
    </div>
    <br>
    <div style="margin-top: 7px;" class="modal-footer btn-group-xs">
        <button class="btn btn-primary btn-group-xs" ng-click="navigateToLogin();">{{data.cancel}}</button>
        <button class="btn btn-primary btn-group-xs" ng-enter="ok();" id="questionSubmit" ng-click="ok()">{{data.ok}}
        </button>
    </div>
</div>
